*.sln
*.vcxproj
*.filters
*.user

/.vs
/.vscode
/vcpkg_installed/x64-windows
/vcpkg.json
/x64
/CppProperties.json
/dist
/obj
/packages

.vscode/c_cpp_properties.json
.vscode/settings.json
*.mkv
convert*
container_debug.json
/docs
/Doxyfile
ClassDiagram*

subprojects/*
!subprojects/*.wrap